<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "index.html" %}
    <meta charset="UTF-8">
    <title>Youtube Downloader</title>
</head>
<body>
    {% block section %}
        <div class="  container ">
            <div class="row">
                    <div class="col">
                            <img src={{ thumbnail }} class="img-fluid" alt="video image">
                    </div>
                    <div class="col-8">
                        <h3> Title : {{ title }}</h3>
                        <h4> Upload date : {{ upload }}</h4>
                        <h4> Duration :{{ duration }}</h4>
                        <button type="button" class="btn btn-light" ><a href="{{ video }}" class="text-black btn" > Download Video</a></button>
                        <button type="button" class="btn btn-dark"><a href="{{ audio }}" class="text-white btn"> Download Audio</a></button>
                    </div>

            </div>
        </div>
    {% endblock %}

</body>
</html>